<div id="pre-footer">
    <div class="social-share">
        <p>Follow us on social media</p>
        <div>
            <a href="https://twitter.com/WebSummerCamp" class="btn btn-secondary">
                Twitter <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/WebSummerCamp/" class="btn btn-secondary">
                Facebook <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/websummercamp" class="btn btn-secondary">
                Instagram <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</div>
