<div class="sponsors-block">
    <h3>Organizers</h3>
    <div class="sponsors-inner organizer row justify-content-center">
        <div class="col-6 col-md-3">
            <a href="http://netgen.io/" target="_blank" rel="noopener">
                <img class="img-responsive" src="/images/sponsors/netgen.svg" alt="Netgen" {% if lazy_loading %}data-src="/images/sponsors/netgen.svg"{% endif %}>

            </a>
        </div>
        <div class="col-6 col-md-3">
            <a href="http://www.salsa-adria.hr/" target="_blank" rel="noopener">
                <img class="img-responsive" src="/images/sponsors/salsa.svg" alt="Salsa Adria" {% if lazy_loading %}data-src="/images/sponsors/salsa.svg"{% endif %}>
            </a>
        </div>
    </div>

    <h3>Friends</h3>
    <div class="sponsors-inner media row justify-content-center">
        <div class="col-4 col-sm-4 col-md-2">
            <a href="http://www.agent.sh/" target="_blank" rel="noopener">
                <img class="img-responsive" src="/images/sponsors/agent.png" alt="agent" {% if lazy_loading %}data-src="/images/sponsors/agent.png"{% endif %}>
            </a>
        </div>
        <div class="col-4 col-sm-4 col-md-2">
            <a href="http://www.cisex.org/en" target="_blank" rel="noopener">
                <img class="img-responsive" src="/images/sponsors/cisex.svg" alt="CISEx" {% if lazy_loading %}data-src="/images/sponsors/cisex.svg"{% endif %}>
            </a>
        </div>
        <div class="col-4 col-sm-4 col-md-2">
            <a href="http://boye-co.com/" target="_blank" rel="noopener">
                <img class="img-responsive" src="/images/sponsors/janusB.svg" alt="Boye & Co" {% if lazy_loading %}data-src="/images/sponsors/janusB.svg"{% endif %}>
            </a>
        </div>
    </div>
</div>
